<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>○○○ Groupware System - 관리자</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	</head>
	<body style="margin: 1em;">
		<h1>○○○ Groupware System - 관리자</h1>
		<div class="wrap">
			<nav style="margin: 1rem 0 1rem 0">
				<a href="/admin/index.html" th:href="@{/admin}">사용자 관리</a> | 
				<a href="/admin/hobbyMgmt.html" th:href="@{/admin/hobby}">취미 관리</a> | 
				<a href="#">부서 관리</a>	
			</nav>
			
			<table style="width:600px">
				<thead>
					<tr>
						<th width="width:200px">부서코드</th>
						<th width="width:200px">부서명</th>
						<th>관리</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<form th:action="@{/admin/department}" th:object="${department}" method="post">
							<td>
								<input type="text" th:field="*{id}" placeholder="부서코드 [(본부)(팀)00] 입력" style="width:100%">
							</td>
							<td>
								<input type="text" th:field="*{department}" placeholder="부서명 입력" style="width:100%">
							</td>
							<td>
								<input type="submit" value="추가">
							</td>
						</form>
					</tr>
					<tr th:each="department : ${allDepartment}">
						<form th:action="@{/admin/department/{departmentId}(departmentId=${department.id})}" th:method="delete">
							<td th:text="${department.id}">부서코드</td>
							<td th:text="${department.department}">부서명</td>
							<td><input type="submit" value="삭제"></td>
						</form>
					</tr>
				</tbody>
			</table>			
		</div>
	</body>
</html>