<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>○○○ Groupware System - 사용자 등록 요청 왼료</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	</head>
	<body style="margin: 1em;">
		<h1>○○○ Groupware System - 사용자 등록 요청 완료</h1>
		<table>
			<tr>
				<th>요청 ID</th>
				<td th:text="${userInfo.userId}">요청ID</td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${userInfo.userName}">이름</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td th:text="${userInfo.phoneNo}">전화번호</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="${userInfo.email}">이메일</td>
			</tr>
			<tr>
				<th>취미</th>
				<td>
					<ul>
						<li th:each="hobby : ${allHobbies}" 
							th:if="${#lists.contains(userInfo.hobbies, hobby.id)}"
							th:text="${hobby.hobby}">취미</li>
					</ul>
				</td>
			</tr>
			<tr>
				<th>부서</th>
				<td th:text="${userInfo.department}">부서</td>
			</tr>
			<tr>
				<th>상태</th>
				<td th:text="${userInfo.status}">상태</td>
			</tr>
		</table>
		<div>
			<a href="/">홈으로</a>
		</div>
	</body>
</html>